.buy-city {
    margin-top: 48px;
    @media (min-width: 1120px) {
        margin-top: 154px;
    }

    &__group {
        @media (min-width: 1120px) {
            display: flex;
            flex-direction: row;
            background-image: url(../img/buy-cite-desk.webp);
            background-repeat: no-repeat;
            background-position-x: 625px;
            height: 373px;
        }
    }

    &__title {
        @media (min-width: 1120px) {
            max-width: 497px;
        }
    }

    &__name {
        font-size: 18px;
        line-height: 22px;
        @media (min-width: 1120px) {
            font-size: 22px;
        }
    }

    &__name-2 {
        font-size: 18px;
        line-height: 22px;
        font-weight: $font-weight-400;
        @media (min-width: 1120px) {
            font-size: 22px;
        }
    }

    &__description {
        margin-top: 38px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        @media (min-width: 1120px) {
            margin-top: 35px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__maps {
        margin-top: 51px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (min-width: 1120px) {
           display: none;
        }
    }
}