.footer {
    background: #121415;
    color: #FFFFFF;
    padding-bottom: 36px;
    @media (min-width) {
        padding-top: 25px;
    }

    &__social {
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & figcaption {
            font-weight: $font-weight-400;
            font-size: 11.7826px;
            line-height: 15px;
        }
        @media (min-width: 1120px) {
            margin-top: 45px;
            gap:25px;
            max-width: 368px;
            order: 1;
            & figcaption {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__item {
        gap: 9.57px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #B0B8C1;
        @media (min-width: 1120px) {
           gap: 13px;
        }
    }

    &__phone {
        color: #FFFFFF;
        @media (min-width: 1120px) {
            font-size: 23px;
line-height: 20px;
        }
    }

    &__logo {
        color: #B9C1D1;
        @media (min-width: 1120px) {
            order: 0;
        }
    }

    &__contact {
        gap: 9px;
    }

    &__info {
        @media (min-width: 1120px) {
            order: 2;
            max-width: 235px;
            gap: 9px;
        }
    }

    &__group {
        margin-top: 47px;
        display: flex;
        flex-direction: column;
        gap: 33px;
        font-weight: $font-weight-400;
        font-size: $base-font-size;
        line-height: 20px;
        & a {
            color: #B0B8C1;
            text-decoration: none;
        }
        @media (min-width: 1120px) {
            margin-top: 55px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__group-img {
        max-width: 317px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        @media (min-width: 1120px) {
          gap: 12px;
        }
    }
}