.logo {
    display: flex;
    gap: 19px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: 1120px) {
        justify-content: flex-start;
        gap: 11px;
    }
    
    &__name {
        color: #556686;
        font-weight: $font-weight-800;
        line-height: 15px;
        font-size: 32px;
        @media (min-width: 1120px) {
            font-size: 50px;
            line-height: 24px;
        }
    }

    &__info {
        font-weight: $font-weight-400;
        font-size: 9.16px;
        line-height: 14px;
        max-width: 125px;
        width: 100%;
        @media (min-width: 1120px) {
            max-width: 217px;
            font-size: $big-font-size;
            line-height: 22px;
        }
    }
}