$primery-color: #213252;
$secondary-color: #2D72CD;
$white: #FFFFFF;

$base-font-size: 14px;
$big-font-size: 16px;
$small-font-size: 12px;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-800: 800;